# ==============================
# PyCharm / IntelliJ
# ==============================
.idea/

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Large datasets
# ==============================
*.csv
*.json
*.parquet

# ==============================
# Trained models
# ==============================
*.onnx
*.pkl
*.joblib

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
desktop.ini